{{define "front"}}
{{template "header"}}
{{template "stdside"}}
        <div class="hero-unit">
          <h1>Sniffy</h1>
          <!-- <p>Network security auditing, management, and monitoring for the space age</p> -->
          <p>Network security auditing, management, and monitoring for people who don't have all day</p>
          <!-- <p><a class="btn primary large">Learn more &raquo;</a></p> -->
        </div>
        <!-- Example row of columns -->
        <div class="row">
          <div class="span6">
            <h2>Auditor</h2>
            <p>Analyze and monitor configuration and security settings, contents of web requests&mdash;including on SSL connections&mdash;and easily identify security vulnerabilities and performance bottlenecks.</p>
            <p><a class="btn" href="/auditor">Overview &raquo;</a></p>
          </div>
          <div class="span5">
            <h2>Gateway</h2>
             <p>Configure Internet gateway, VPN and proxy servers, and take advantage of enterprise-grade features like access control, custom routing and filtering, and data leakage prevention.</p>
            <p><a class="btn" href="#">Dashboard &raquo;</a></p>
         </div>
          <div class="span5">
            <h2>Load Balancer</h2>
            <p>Balance connections to single IP addresses and ports to an array of application servers using weighted, round robin, or custom load distribution.</p>
            <p><a class="btn" href="#">Dashboard &raquo;</a></p>
          </div>
        </div>
        <hr>
        <!-- Example row of columns -->
        <div class="row">
          <div class="span6">
            <h2>Load Balancer</h2>
            <p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
            <p><a class="btn" href="#">Dashboard &raquo;</a></p>
          </div>
          <div class="span5">
            <h2>Server</h2>
             <p>Set up simple web, proxy, name, or file servers, optionally ones that interface with other, existing services.</p>
            <p><a class="btn" href="#">Dashboard &raquo;</a></p>
         </div>
          <div class="span5">
            <h2>Watcher</h2>
            <p>Keep track of the state of all of your servers and network equipment, including devices on your internal networks, and get immediate alerts when there are service interruptions.</p>
            <p><a class="btn" href="#">Dashboard &raquo;</a></p>
          </div>
        </div>
{{template "footer"}}
{{end}}
